ul.jSocial-options {
	padding: 0px;
	margin: 0px 0px 1em 0px;
	list-style: none;
}

ul.jSocial-options:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}

ul.jSocial-options {
	display:inline-table;
}

* html ul.jSocial-options {
 /* nomac \*/height:1%;/* nomac */
}

ul.jSocial-options {
	display:block;
}

ul.jSocial-options {
	zoom: 1;
}

.jSocial-vertical li,
.jSocial-nocounter li {
	padding: 0px 15px 0px 0px;
	margin: 0px;
	float: left;
}

.jSocial-horizontal li {
	padding-bottom: 1em;
}

.jSocial-vertical li.jSocial-addThis,
.jSocial-vertical li.jSocial-googlePlusOne {
	padding-top: 2px;
}

.jSocial-nocounter li.jSocial-facebook {
	width: 100px;
	overflow: hidden;
}






